@page
@model AggiungiImmagineModel
@{
    ViewData["Title"] = "Aggiungi Immagine";
}


<div class="container">
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <form method="post">
            <div class="form-group">
                <label for="autore">Autore</label>
                <input type="text" class="form-control" name="autore" />
            </div>
            <div class="form-group">
                <label for="titolo">Titolo</label>
                <input type="text" class="form-control" name="titolo" />
            </div>

            <label for="categoria">Categoria</label>
            <select class="form-control" id="categoria" name="Categoria">
                <option value="">Seleziona una categoria</option>
                @foreach (var cat in Model.Categorie)
                {
                    <option value="@cat">@cat</option>
                }
            </select>
            <span asp-validation-for="Categoria" class="text-danger"></span>

            <div class="form-group">
                <label for="path">Link Immagine</label>
                <input type="text" class="form-control" name="path" required />
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Aggiungi</button>
            <a asp-page="/Index" class="btn btn-primary" type="button">
                Torna alle immagini
            </a>
        </form>
    </div>

</div>
