@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container d-flex align-items-center justify-content-center flex-column text-center" style="height: 35rem;">
    <h1 class="text-quinary-rgb">@ViewData["Errore"]</h1>
    <h2 class="text-quinary-rgb">@Model.Message</h2>
    <form method="post" class="d-flex flex-column w-25">
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        <button type="submit" class="btn bg-tertiary-rgb-opacity-8 text-secondary-rgb my-3">Ok</button>
    </form>
</div>
