@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="mx-5">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>

    <div class="d-flex flex-wrap justify-content-center align-items-center">

        @for (int i = 0; i < Model.Immagini.Count(); i++)
        {

            <div class="d-flex m-3 border border-5 w-25 h-50">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <a asp-page="/Immagine" asp-route-id="@Model.Immagini.ElementAt(i).Id">
                        <img src="@Model.Immagini.ElementAt(i).Path" class="img-fluid" /></a>
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </div>
            </div>

        }
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.NumeroPagine; i++)
            {
                <li class="page-item"><a class="page-link" asp-page="/Index" asp-route-pageindex="@i">@i</a></li>
            }
            <li class="page-item">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
