@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="gallery">
    <img src="/img/img_01.jpg" alt="1">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
    <img src="/img/img_01.jpg" alt="">
</div>