@{
    ViewData["Title"] = "Home page";
}
<div class="mx-5">
    <!-------------------------- titolo della pagina ---------------------------->
    <div class="text-center">
        <h1 class="display-4">Benvenuti</h1>
    </div>

    <div class="d-flex justify-content-center mt-5 pt-5">
        <a asp-area="Identity" asp-page="/Account/Login">
            <img id="img-xxl" src="~/img/index-xxl.png" alt="Index img-xxl">
            <img id="img-lg" src="~/img/index-lg.png" alt="Index img-lg">
            <img id="img-md" src="~/img/index-md.png" alt="Index img-md">
            <img id="img-sm" src="~/img/index-sm.png" alt="Index img-sm">
        </a>
    </div>

</div>