@{
    ViewData["Title"] = "Home page";
}
<div class="mx-5">
    <!-------------------------- titolo della pagina ---------------------------->
    <div class="text-center">
        <h1 class="display-4">Benvenuti</h1>
    </div>

</div>