@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configura l'app di autenticazione";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
    <p>Per utilizzare un'app di autenticazione, procedi nel seguente modo:</p>
    <ol class="list">
        <li>
            <p>
                Scarica un'app di autenticazione a due fattori come Microsoft Authenticator per
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> e
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> oppure
                Google Authenticator per
                <a
                    href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a>
                e
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Scansiona il codice QR o inserisci questa chiave <kbd>@Model.SharedKey</kbd> nella tua app di
                autenticazione a due fattori.
                Gli spazi e caratteri maiuscoli/minuscoli non contano.</p>
            <div class="alert alert-info">Leggi come <a href="https://go.microsoft.com/fwlink/?Linkid=852423">
                    Generare il codice QR</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                Dopo aver scansionato il codice QR o inserito la chiave sopra, l'app di autenticazione a due fattori lo
                farà
                Fornirti
                con un codice univoco. Inserisci il codice nella casella di conferma qui sotto.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off"
                                placeholder="Please enter the code." />
                            <label asp-for="Input.Code" class="control-label form-label">Codice di verifica</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Verifica</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
