@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dati personali";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Il tuo account contiene i dati personali che ci hai fornito. Questa pagina ti consente di scaricarlo o
            eliminarlo
            dati.</p>
        <p>
            <strong>L'eliminazione di questi dati rimuoverà definitivamente il tuo account e questo non potrà essere
                recuperato.</strong>
        </p>
        <div class="row justify-content-center">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit">Download</button>
            </form>
            <p class="m-2">
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Cancella</a>
            </p>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
