@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Imposta la password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>Imposta la tua password</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    Non hai un nome utente/password locale per questo sito. Aggiungi un locale
    account in modo da poter accedere senza un login esterno.
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password"
                    placeholder="Inserisci la nuova password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                    placeholder="Conferma la nuova password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Imposta password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
