@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Autenticazione a due fattori (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Non ti sono rimasti codici di recupero.</strong>
                    <p>E' necessario <a asp-page="./GenerateRecoveryCodes">generare una nuova serie di codici di ripristino </a> prima
                        di poter accedere con
                        un codice di ripristino.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Ti è rimasto 1 codice di ripristino.</strong>
                    <p>Puoi <a asp-page="./GenerateRecoveryCodes"> generare una nuova serie di codici di ripristino</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Ti restano @Model.RecoveryCodesLeft codici di ripristino.</strong>
                    <p>Dovresti <a asp-page="./GenerateRecoveryCodes">generare una nuova serie di codici di ripristino</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Dimentica questo browser</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Disabilita 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Reimposta i codici di ripristino</a>
        }

        <h4>Applicazione di autenticazione</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Aggiungi l'app di
                autenticazione</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Configura l'app di
                autenticazione</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Reimposta l'app di
                autenticazione</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>La politica sulla privacy e sui cookie non è stata accettata.</strong>
            <p>È necessario accettare la policy prima di poter abilitare l'autenticazione a due fattori.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
