
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*va a riempire anche nel padding*/
    background-image: linear-gradient(white,rgb(219, 154, 154),rgb(193, 138, 83),rgb(220, 131, 71), white);
}

header {
    background-color: black;
    border-color: #333;
    border-style: initial; /* indica il valore predefinito*/
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

i {
    color: #007bff; /* questo colora tutte le icone del colore dell'header*/
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin-right: 90px;     /*a che serve averlo???*/
}

nav ul i {
    font-size: 48px;
}

nav ul li {
    display: inline;
    margin: 0 10px;     /*???? */ 
    padding: 30px;
}

nav ul li a {
    position: relative;
    color: white;
    font-family: Montserrat;
    text-decoration: none;
}

nav ul li a:before {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 50px;
    transition: transform 0.2s linear;
    transform: scaleX(0);
}

nav ul li a:hover:before {
    transform: scaleX(1);
}

section {
    padding: 20px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

#contatti {
    margin-bottom: 80px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;    /*mantiene il footer fissato nella pagina quando si scorre*/
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}

img {
    border-radius: 20px;
    transition: transform 0.5s; /*regola la transizione morbida*/
    box-shadow: 8px 8px 8px;    /*regola l'ombra*/
}

img:hover {
    transform: translateY(-10px);   /*sposta l'immagine in alto*/
}

.destra {
    margin-left: 40px;
    margin-top: 40px;
    text-shadow: 0px 0px 2px;
}

.sinistra {
    margin-left: 40px;
}

a button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #aed1b8;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    :hover {
        background-color: #2c974b;
        border-color: #1b1f2326;
        transition-duration: 0.1s;
    }

}

@media(max-width:1100px) {

    header {
        padding: 28px;
    }

    nav ul li {
        padding: 10px;
        font-size: smaller;
    }

    nav ul i {
        font-size: 32px;
    }

}

@media(max-width:790px) {

    header {
        padding: 31.5px;
    }

    nav {
        margin-left: 20px;
    }

    nav ul li {
        display: inline;
        margin: 0 5px;
    }

    nav ul li a {
        padding: 0px;
        font-size: 9px;
        color: white;
    }

    .destra {
        font-size: smaller;
        margin-top: -15px;
        /*  background-color: red;*/
    }

    #progetto.destra {
        font-size: x-small;
    }

    nav ul i {
        font-size: 24px;
    }

}


@media(max-width:640px) {
    header {
        padding: 34.5px;
    }

    nav ul li {
        display: inline;
        margin: 0 -7px;
    }

    nav ul li a {
        padding: 0px;
        font-size: 10px;
    }

    nav ul i {
        font-size: 16px;
    }

}


@media(max-width:520px) {
    header {
        padding: 34.5px;
    }

    nav ul li {
        display: inline;
        margin: 0 -11px;
    }

    nav ul li a {
        padding: 0px;
        font-size: 9px;
    }

    nav ul i {
        font-size: 16px;
    }

}