@page
@model ErrorModel
@{
    ViewData["Title"] = "Errore";
}

<h1 class="text-danger">Errore.</h1>
<h2 class="text-danger">Si è verificato un errore durante l'elaborazione della richiesta.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID Richiesta:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modalità di sviluppo</h3>
<p>
    Passando all'ambiente <strong>Sviluppo</strong> verranno visualizzate informazioni più dettagliate sull'errore che
    si è verificato.
</p>
<p>
    <strong>L'ambiente di sviluppo non deve essere abilitato nelle applicazioni distribuite</strong>, poiché ciò
    potrebbe comportare la visualizzazione di informazioni sensibili dalle eccezioni agli utenti finali. Per il debug
    locale, l'ambiente di sviluppo può essere abilitato impostando la variabile di ambiente
    <strong>ASPNETCORE_ENVIRONMENT</strong> su <strong>Sviluppo</strong> e riavviando l'applicazione.
</p>
