@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reimposta la chiave di autenticazione";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se reimposti la chiave di autenticazione, l'app di autenticazione non funzionerà finché non la
            riconfigurerai.</strong>
    </p>
    <p>
        Questo processo disabilita 2FA finché non verifichi la tua app di autenticazione.
        Se non completi la configurazione dell'app di autenticazione potresti perdere l'accesso al tuo account.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reimposta la chiave di
            autenticazione</button>
    </form>
</div>
