<th>
    <div class="dropdown text-center">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-tools" /></i>
        </button>

        <!---------------------- bottone modifica -------------------------->
        <ul class="dropdown-menu p-0 ps-1 pb-1 pt-1" style="min-width: 8rem;">
            <li><button type="submit" class="dropdown-item" asp-page="/ModificaImmagine">
                    <i class="bi bi-command" /></i>Modifica</button>
            </li>
            <!----------------------bottone elimina-------------------->
            <li>
                <button type="submit" class="dropdown-item" asp-page="/EliminaImmagine" style="color: red;">
                    <i class="bi bi-trash" />
                    </i>Elimina</button>
            </li>
        </ul>
    </div>
</th>