html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*----------- collapse -----------*/

.rosso.accordion-button:not(.collapsed) {

  background-color: #d80e18;
  border-color: #828687;
  color: black;
}

.rosso.accordion-button {
  color: red;
}


.verde.accordion-button:not(.collapsed) {

  background-color: #30d80e;
  border-color: #828687;
  color: black;
}

.verde.accordion-button {
  color: green;
}


.blu.accordion-button:not(.collapsed) {

  background-color: #0e76d8;
  border-color: #828687;
  color: black;

}

.blu.accordion-button {
  color: blue;
}