@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

<ul class="navbar-nav flex-grow-1">

    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("User"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Immagini">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Categorie">Categorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Classifica">Classifica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Gestisci">Gestisci</a>
            </li>
        }
        if (User.IsInRole("Moderatore"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Moderatore" asp-action="ModeraCommenti">Moderatore</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-action="Index">Home</a>
        </li>
    }
</ul>
