@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Conferma registrazione";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Questa app attualmente non ha un vero mittente e-mail registrato, vedi <a
                href="https://aka.ms/aspaccountconf">questi documenti</a> per sapere come configurare un vero mittente di posta
            elettronica.
            Normalmente questo verrebbe inviato via email: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clicca qui
                per confermare il tuo account</a>
        </p>
    }
    else
    {
        <p>
            Controlla la tua email per confermare il tuo account.
        </p>
    }
}
