@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reimposta la conferma della password";
}

<h1>@ViewData["Title"]</h1>
<p>
    La tua password è stata resettata. Fai <a asp-page="./Login">clic qui per accedere.</a>.
</p>
