@model AppUser
<td>
    <div class="d-flex justify-content-center"></div>
    <form action="post">
        <input type="checkbox" id="chkAdmin" name="role" value="Admin">
        <label for="chkAdmin">Admin</label>

        <input type="checkbox" id="chkModerator" name="role" value="Moderatore">
        <label for="chkModerator">Moderatore</label>

        <button type="submit" class="btn btn-success">Salva</button>
        <a class="btn btn-primary" asp-controller="Admin" asp-route-menuruoli="false">Annulla</a>


    </form>
    </div>

</td>