@model AppUser
@{
    ViewData["checkedUser?"] = Model.Ruoli.Contains("User") ? "checked" : "";
    ViewData["checkedAdmin?"] = Model.Ruoli.Contains("Admin") ? "checked" : "";
    ViewData["checkedModeratore?"] = Model.Ruoli.Contains("Moderatore") ? "checked" : "";
}

<!------------------------- sezione checkbox per i ruoli ----------------------------------------->
<div class=""></div>
<form asp-action="GestioneRuoli" class="form-ruoli ">
    <input class="form-check-input" type="checkbox" id="chkAdmin" name="Ruoli" value="User" @(ViewData["checkedUser?"])>
    <label for="chkAdmin">User</label>

    <input class="form-check-input" type="checkbox" id="chkAdmin" name="Ruoli" value="Admin"
        @(ViewData["checkedAdmin?"])>
    <label for="chkAdmin">Admin</label>

    <input class="form-check-input" type="checkbox" id="chkModerator" name="Ruoli" value="Moderatore"
        @(ViewData["checkedModeratore?"])>
    <label for="chkModerator">Mod</label>

    @* per il corretto reindirizzamento alla pagina card o utenti*@
    <input type="hidden" name="UrlBack" value=@ViewBag.UrlBack>
    <input type="hidden" name="Id" value=@Model.Id>

    <div>
        <button type="submit" class="btn btn-success btn-sm" title="Salva"><i class="bi bi-floppy"></i></button>
        <a class="btn btn-danger btn-sm" asp-controller="Admin" asp-route-menuruoli="false" title="Annulla"><i
                class="bi bi-x-circle"></i></a>
    </div>

</form>
</div>