@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var nome = "Simone";
    var versione = 3;
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in Razor @nome</h1>
    <p>Versione: @versione</p>
</div>
