@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section id="sezione_1" class="mb-5">
    <h3>Sezione 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laboriosam velit dolor quia. Neque veritatis
        nihil, omnis deleniti mollitia qui officia? Laboriosam aut sapiente cupiditate deserunt id quasi minima aliquid.
    </p>
    <div class="row text-center">
        <div class="col-md-4 col-12">
            <img src="https://picsum.photos/300/300" alt="Immagine-1">
        </div>
        <div class="col-md-4 col-12">
            <img src="https://picsum.photos/300/300" alt="Immagine-2">
        </div>
        <div class="col-md-4 col-12">
            <img src="https://picsum.photos/300/300" alt="Immagine-3">
        </div>
    </div>
</section>

<section id="sezione_2" class="mb-5">
    <h3>Sezione 2</h3>
    <form class="">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome">
        </div>
        <div class="mb-3">
            <label for="cognome" class="form-label">Cognome</label>
            <input type="text" class="form-control" id="cognome">
        </div>
        <button type="submit" class="btn btn-primary">Invia</button>
    </form>
</section>

<section id="sezione_3" class="mb-5">
    <h3>Sezione 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laboriosam velit dolor quia. Neque veritatis
        nihil, omnis deleniti mollitia qui officia? Laboriosam aut sapiente cupiditate deserunt id quasi minima aliquid.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, odit? Aperiam quos alias exercitationem delectus
        commodi error ratione natus quidem? Facere autem voluptatum saepe officia. Suscipit error laudantium cupiditate
        quae culpa maxime aperiam fuga numquam maiores voluptatibus possimus provident facilis perferendis magnam
        accusantium necessitatibus nisi, iure perspiciatis sunt dignissimos est. Consequuntur ut quo dolor saepe
        accusantium molestiae quaerat consectetur minima labore deserunt, ullam incidunt, sapiente fugiat repudiandae
        repellat ad adipisci facere? Vel quidem, quae alias, suscipit facilis, similique quaerat sed autem deserunt
        exercitationem expedita quo blanditiis in magnam fuga nulla. Amet quia, enim beatae commodi facilis optio nihil
        sed earum eveniet nobis similique, quisquam in? Provident nesciunt sunt molestias voluptas, autem quia
        repellendus, veritatis iure amet error optio velit iusto corrupti, cumque ea hic consectetur recusandae
        pariatur! Aliquid dolores error cumque delectus reiciendis quos mollitia? Repellat perferendis repellendus
        tempora non quibusdam pariatur modi maiores obcaecati sequi, nulla, necessitatibus ipsam cupiditate asperiores
        consequatur ipsum aut ipsa esse ex accusantium voluptatum laboriosam voluptas. Consequatur, iure quasi ad maxime
        commodi non illum labore. Odit, expedita! Aspernatur earum quasi ad consequatur expedita saepe minus adipisci,
        porro quo eum. Facilis labore voluptatum quia, quos ab pariatur inventore quae ducimus molestiae voluptas? Velit
        praesentium dolores eligendi vitae, provident quis reiciendis aperiam delectus, aliquid corporis dicta mollitia?
        Pariatur eligendi ipsa ratione accusamus, facilis fugit est. Suscipit, in cumque. Illum molestiae sint hic
        exercitationem libero omnis vero ipsam iste repellat, accusamus nemo corrupti enim laboriosam est aliquam
        tenetur possimus cumque molestias non explicabo! Officiis velit voluptatem aperiam rem voluptates alias,
        reiciendis repudiandae facere inventore odit dignissimos, eveniet harum distinctio maxime assumenda officia
        commodi ad dolorem deleniti vel! Quasi, pariatur recusandae. Reprehenderit repellendus consequatur iste magni
        ipsa? Laudantium hic aspernatur minus impedit atque rerum magnam neque delectus harum, obcaecati voluptates
        temporibus laboriosam aliquid ut labore enim, explicabo provident exercitationem earum nihil! Provident,
        assumenda fugit deserunt hic quisquam porro, sed laborum omnis explicabo debitis consectetur? Dolores quae
        debitis, culpa minima aliquam deserunt. Rerum quasi quia eligendi tenetur labore sit atque consectetur mollitia
        delectus velit rem porro quis doloremque perspiciatis reprehenderit enim est, natus dolorem aliquam! Maxime eius
        iusto similique. Commodi voluptas voluptatibus ex aliquid a, expedita facilis fuga, maxime repellat non ut
        consequuntur odit animi harum explicabo, id ab praesentium excepturi ipsa dolore corporis eligendi sint. Ea
        minus labore nisi itaque modi deserunt odio accusamus dicta eum quaerat fugiat quia sunt placeat numquam ducimus
        architecto consequuntur, doloremque facere nesciunt saepe.
    </p>
</section>
